body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #cccccc40;
}

.navbar {
    height: 7rem;
}
.bg-light {
    background-color: #44a7cd !important;
}

.title {
    color: #42afdf;
}

.navbar-brand {
    font-weight: bold;
    font-size: 2rem;
    color: white !important;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.navbar-brand img {
    width: 225px;
    display: block;
    margin-top: 59px;
}

.navbar-nav {
    margin-top: 25px;
}

.nav-link {
    color: white !important;
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 0.7rem;
    border-radius: 0.5rem;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.nav-link.active {
    background-color: rgba(0,0,0,0.1);
}

.content {
    max-width: 900px;
    min-height: 40rem;
}

.btn-primary {
    background-color: #42afdf !important;
    border-color: #42afdf !important;
}

form label {
    color: #555;
    font-weight: 900;
}
.link-details {
    display: block;

}

.bordered-red {
    border: 1px solid red;
}

footer {
    background-color: #44a7cd !important;
    color: white;
}